@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'it';
	src: url(assets/fonts/it.ttf);
}

@font-face {
	font-family: 'lmr';
	src: url(assets/fonts/lmr.otf);
}

@font-face {
	font-family: 'mont';
	src: url(assets/fonts/mont.ttf);
}

@font-face {
	font-family: 'montL';
	src: url(assets/fonts/montL.ttf);
}

@font-face {
	font-family: 'montM';
	src: url(assets/fonts/montM.ttf);
}

.word {
	display:inline-block;
}

#test:focus #words {
    filter: blur(0);
}

#test:focus #start {
    display: none;
}

#test:focus #cursor {
    display: block;
}

#test.over #words {
    filter: blur(0);
	opacity: 0.6;
}

#test.over #start {
    display: none;
}

#test.over #cursor {
    display: none;
}

.letter {
	opacity: 0.5;
}

.letter.correct {
	opacity: 1;
}

.letter.incorrect {
	color: red;
}

@keyframes flashing {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}